In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv(r"..\data\Eartquakes-1990-2023.csv")
data.head()

,time,place,status,tsunami,significance,data_type,magnitudo,state,longitude,latitude,depth,date
0,631153353990,"12 km NNW of Meadow Lakes, Alaska",reviewed,0,96,earthquake,2.50,Alaska,-149.669200,61.730200,30.100,1990-01-01 00:22:33.990000+00:00
1,631153491210,"14 km S of Volcano, Hawaii",reviewed,0,31,earthquake,1.41,Hawaii,-155.212333,19.317667,6.585,1990-01-01 00:24:51.210000+00:00
2,631154083450,"7 km W of Cobb, California",reviewed,0,19,earthquake,1.11,California,-122.806167,38.821000,3.220,1990-01-01 00:34:43.450000+00:00
3,631155512130,"11 km E of Mammoth Lakes, California",reviewed,0,15,earthquake,0.98,California,-118.846333,37.664333,-0.584,1990-01-01 00:58:32.130000+00:00
4,631155824490,"16km N of Fillmore, CA",reviewed,0,134,earthquake,2.95,California,-118.934000,34.546000,16.122,1990-01-01 01:03:44.490000+00:00

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3445751 entries, 0 to 3445750
Data columns (total 12 columns):
 #   Column        Dtype
---  ------        -----
 0   time          int64
 1   place         object
 2   status        object
 3   tsunami       int64
 4   significance  int64
 5   data_type     object
 6   magnitudo     float64
 7   state         object
 8   longitude     float64
 9   latitude      float64
 10  depth         float64
 11  date          object
dtypes: float64(4), int64(3), object(5)
memory usage: 315.5+ MB

In [4]:
data.columns

Index(['time', 'place', 'status', 'tsunami', 'significance', 'data_type',
       'magnitudo', 'state', 'longitude', 'latitude', 'depth', 'date'],
      dtype='object')

In [5]:
#data = data.sample(n = 40800, random_state = 0)
cond = data["data_type"]=="earthquake"
sampled_data = data[cond]
sampled_data = sampled_data.tail(100000)

In [6]:
data["data_type"].unique()

array(['earthquake', 'quarry blast', 'explosion', 'other event',
       'nuclear explosion', 'rock burst', 'ice quake',
       'chemical explosion', 'sonic boom', 'mine collapse', 'rockslide',
       'Rock Slide', 'accidental explosion', 'landslide', 'quarry',
       'mining explosion', 'acoustic noise', 'not reported',
       'experimental explosion', 'collapse', 'meteorite',
       'induced or triggered event', 'volcanic eruption', 'Ice Quake',
       'snow avalanche'], dtype=object)

In [7]:
sampled_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100000 entries, 3343535 to 3445750
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   time          100000 non-null  int64
 1   place         100000 non-null  object
 2   status        100000 non-null  object
 3   tsunami       100000 non-null  int64
 4   significance  100000 non-null  int64
 5   data_type     100000 non-null  object
 6   magnitudo     100000 non-null  float64
 7   state         100000 non-null  object
 8   longitude     100000 non-null  float64
 9   latitude      100000 non-null  float64
 10  depth         100000 non-null  float64
 11  date          100000 non-null  object
dtypes: float64(4), int64(3), object(5)
memory usage: 9.9+ MB

In [8]:
from dateutil import parser
date_series = sampled_data.date

def to_timestamp(date_str):
    return parser.parse(date_str)
    
serie_timestamp = date_series.map(to_timestamp)
sampled_data.loc[:,"date"] = serie_timestamp

sampled_data.head()

,time,place,status,tsunami,significance,data_type,magnitudo,state,longitude,latitude,depth,date
3343535,1668341263550,"10km NW of The Geysers, CA",automatic,0,12,earthquake,0.89,California,-122.840164,38.841835,1.900,2022-11-13 12:07:43.550000+00:00
3343536,1668341337245,"50 km SSW of Andalgalá, Argentina",reviewed,0,312,earthquake,4.50,Argentina,-66.552700,-27.989600,167.336,2022-11-13 12:08:57.245000+00:00
3343537,1668341367974,"20 km S of Adak, Alaska",reviewed,0,50,earthquake,1.80,Alaska,-176.607200,51.691200,77.800,2022-11-13 12:09:27.974000+00:00
3343538,1668341601065,"46 km NE of Cubará, Colombia",reviewed,0,326,earthquake,4.60,Colombia,-71.869900,7.349200,10.000,2022-11-13 12:13:21.065000+00:00
3343539,1668341604880,"13km NNE of Cabazon, CA",reviewed,0,8,earthquake,0.73,California,-116.756500,34.031500,15.630,2022-11-13 12:13:24.880000+00:00

In [9]:
first_date_tremor = min(sampled_data.date)

*First Steps*

1 Earthquakes: >= 6 degrees on the Richter scale  
2 Tremors: < 6 degrees on the Richter scale

In [10]:
sampled_data = sampled_data.drop(columns=['time','place','status']).copy()

In [11]:
earthquakes_list = sampled_data[sampled_data['magnitudo'] >= 6]
earthquakes_list.head()

,tsunami,significance,data_type,magnitudo,state,longitude,latitude,depth,date
3343789,0,572,earthquake,6.1,south of the Fiji Islands,178.2034,-26.0027,630.185,2022-11-14 05:04:11.890000+00:00
3343838,0,638,earthquake,6.1,Japan,137.3055,33.8139,346.000,2022-11-14 08:08:26.124000+00:00
3345772,0,735,earthquake,6.9,Indonesia,100.7862,-4.9043,25.000,2022-11-18 13:37:08.687000+00:00
3347415,1,768,earthquake,7.0,Solomon Islands,159.6033,-9.8198,14.000,2022-11-22 02:03:06.891000+00:00
3347435,0,555,earthquake,6.0,Solomon Islands,159.4589,-9.8203,10.000,2022-11-22 02:37:57.529000+00:00

In [12]:
earthquakes_list.shape

(87, 9)

In [13]:
tremors_list = sampled_data[sampled_data['magnitudo'] < 6]
tremors_list.head()

,tsunami,significance,data_type,magnitudo,state,longitude,latitude,depth,date
3343535,0,12,earthquake,0.89,California,-122.840164,38.841835,1.900,2022-11-13 12:07:43.550000+00:00
3343536,0,312,earthquake,4.50,Argentina,-66.552700,-27.989600,167.336,2022-11-13 12:08:57.245000+00:00
3343537,0,50,earthquake,1.80,Alaska,-176.607200,51.691200,77.800,2022-11-13 12:09:27.974000+00:00
3343538,0,326,earthquake,4.60,Colombia,-71.869900,7.349200,10.000,2022-11-13 12:13:21.065000+00:00
3343539,0,8,earthquake,0.73,California,-116.756500,34.031500,15.630,2022-11-13 12:13:24.880000+00:00

*Next Steps*

3 Function Premonitory Tremors  
4 Filter

In [14]:
from geopy.distance import geodesic
from datetime import timedelta
def calculate_distance(center, point):
    return geodesic(center, point, ellipsoid="WGS-84").km

def premonitory_tremors(earthquake, tremors_list, radius_km, period_days_list):
    center = (earthquake.latitude, earthquake.longitude)

    # Filter by location
    filter_radius = tremors_list.apply(
        lambda tremor: calculate_distance(center, (tremor.latitude, tremor.longitude)) <= radius_km, axis=1
    )

    # Filter by time
    initial_time = earthquake.date - timedelta(max(period_days_list))
    final_time = earthquake.date
    filter_time = (tremors_list['date'] >= initial_time) & (tremors_list['date'] < final_time)

    premonitory_tremors_list = tremors_list[filter_radius & filter_time]
    #premonitory_tremors_list = tremors_list[filter_radius]
    return premonitory_tremors_list

In [15]:
#new dataframe
earthquakes_and_premonitory = earthquakes_list.drop(columns=['tsunami','data_type'])
#from statistics import mean
#from scipy.stats import linregress

def premonitory_features(earthquakes_list, tremors_list, radius_km, period_days_list):

    for _, earthquake in earthquakes_list.iterrows():
        premonitory_tremors_list = premonitory_tremors(earthquake, tremors_list, radius_km, period_days_list)
        #extract features from premonitory_tremors_list
        #slope, intercept, _, _, _ = linregress(premonitory_tremors_list.date, premonitory_tremors_list.magnitudo)
        #tendency_of_magnitudes = slope
        #intercept_of_magnitudes = intercept
        #features for day in period_days_list

        #print(premonitory_tremors_list)
        
        for period_days in period_days_list:
            start_date = earthquake.date - timedelta(period_days)
            end_date = earthquake.date - timedelta(period_days - 1)
            time_condition = (premonitory_tremors_list.date >= start_date) & (premonitory_tremors_list.date < end_date)
            filtered_premonitory_tremors_list = premonitory_tremors_list[time_condition]
            f_name1 = "n_tremors {} days".format(period_days)
            f_name2 = "avg_magn_of_ptremors {} days".format(period_days)
            f_name3 = "avg_sign_of_ptremors {} days".format(period_days)
            earthquakes_and_premonitory[f_name1] = len(filtered_premonitory_tremors_list)
            earthquakes_and_premonitory[f_name2] = np.mean(filtered_premonitory_tremors_list.magnitudo)
            earthquakes_and_premonitory[f_name3] = np.mean(filtered_premonitory_tremors_list.significance)
    return earthquakes_and_premonitory

period_days_list = [14,13,12,11,10,9,8,7,6,5,4,3,2,1]
earthquakes_and_premonitory = premonitory_features(earthquakes_list, tremors_list, radius_km = 300, period_days_list = period_days_list)
condition = earthquakes_and_premonitory.date >= first_date_tremor + timedelta(max(period_days_list))
earthquakes_and_premonitory = earthquakes_and_premonitory[condition]
earthquakes_and_premonitory.to_csv(r'..\data\earthquakes_and_premonitory.csv')
earthquakes_and_premonitory.head()

,significance,magnitudo,state,longitude,latitude,depth,date,n_tremors 14 days,avg_magn_of_ptremors 14 days,avg_sign_of_ptremors 14 days,...,avg_sign_of_ptremors 4 days,n_tremors 3 days,avg_magn_of_ptremors 3 days,avg_sign_of_ptremors 3 days,n_tremors 2 days,avg_magn_of_ptremors 2 days,avg_sign_of_ptremors 2 days,n_tremors 1 days,avg_magn_of_ptremors 1 days,avg_sign_of_ptremors 1 days
3352677,720,6.8,Tonga,-172.9867,-15.3497,38.00,2022-12-04 19:24:15.394000+00:00,0,NaN,NaN,...,298.0,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
3355419,711,6.0,Mexico,-100.5300,17.1801,18.00,2022-12-11 14:31:29.051000+00:00,0,NaN,NaN,...,298.0,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
3356538,611,6.3,Aleutian Islands,178.5971,51.6079,73.00,2022-12-14 18:40:26.898000+00:00,0,NaN,NaN,...,298.0,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
3358871,1780,6.4,California,-124.4230,40.5250,17.91,2022-12-20 10:34:24.770000+00:00,0,NaN,NaN,...,298.0,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
3364736,564,6.0,Afghanistan,70.7455,36.4738,203.00,2023-01-05 14:25:53.019000+00:00,0,NaN,NaN,...,298.0,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN

In [16]:
earthquakes_and_premonitory.info()

<class 'pandas.core.frame.DataFrame'>
Index: 80 entries, 3352677 to 3444988
Data columns (total 49 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   significance                  80 non-null     int64
 1   magnitudo                     80 non-null     float64
 2   state                         80 non-null     object
 3   longitude                     80 non-null     float64
 4   latitude                      80 non-null     float64
 5   depth                         80 non-null     float64
 6   date                          80 non-null     object
 7   n_tremors 14 days             80 non-null     int64
 8   avg_magn_of_ptremors 14 days  0 non-null      float64
 9   avg_sign_of_ptremors 14 days  0 non-null      float64
 10  n_tremors 13 days             80 non-null     int64
 11  avg_magn_of_ptremors 13 days  0 non-null      float64
 12  avg_sign_of_ptremors 13 days  0 non-null      float64
 13  n_tremors 12 days             80 non-null     int64
 14  avg_magn_of_ptremors 12 days  80 non-null     float64
 15  avg_sign_of_ptremors 12 days  80 non-null     float64
 16  n_tremors 11 days             80 non-null     int64
 17  avg_magn_of_ptremors 11 days  80 non-null     float64
 18  avg_sign_of_ptremors 11 days  80 non-null     float64
 19  n_tremors 10 days             80 non-null     int64
 20  avg_magn_of_ptremors 10 days  0 non-null      float64
 21  avg_sign_of_ptremors 10 days  0 non-null      float64
 22  n_tremors 9 days              80 non-null     int64
 23  avg_magn_of_ptremors 9 days   0 non-null      float64
 24  avg_sign_of_ptremors 9 days   0 non-null      float64
 25  n_tremors 8 days              80 non-null     int64
 26  avg_magn_of_ptremors 8 days   0 non-null      float64
 27  avg_sign_of_ptremors 8 days   0 non-null      float64
 28  n_tremors 7 days              80 non-null     int64
 29  avg_magn_of_ptremors 7 days   0 non-null      float64
 30  avg_sign_of_ptremors 7 days   0 non-null      float64
 31  n_tremors 6 days              80 non-null     int64
 32  avg_magn_of_ptremors 6 days   0 non-null      float64
 33  avg_sign_of_ptremors 6 days   0 non-null      float64
 34  n_tremors 5 days              80 non-null     int64
 35  avg_magn_of_ptremors 5 days   0 non-null      float64
 36  avg_sign_of_ptremors 5 days   0 non-null      float64
 37  n_tremors 4 days              80 non-null     int64
 38  avg_magn_of_ptremors 4 days   80 non-null     float64
 39  avg_sign_of_ptremors 4 days   80 non-null     float64
 40  n_tremors 3 days              80 non-null     int64
 41  avg_magn_of_ptremors 3 days   0 non-null      float64
 42  avg_sign_of_ptremors 3 days   0 non-null      float64
 43  n_tremors 2 days              80 non-null     int64
 44  avg_magn_of_ptremors 2 days   0 non-null      float64
 45  avg_sign_of_ptremors 2 days   0 non-null      float64
 46  n_tremors 1 days              80 non-null     int64
 47  avg_magn_of_ptremors 1 days   0 non-null      float64
 48  avg_sign_of_ptremors 1 days   0 non-null      float64
dtypes: float64(32), int64(15), object(2)
memory usage: 31.2+ KB